<?xml version="1.0" encoding="UTF-8"?>
<web:web-app xmlns:web="http://xmlns.jcp.org/xml/ns/javaee" xmlns="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
  <web:servlet>
    <web:servlet-name>UploadFileServletOne</web:servlet-name>
    <web:servlet-class>com.requirement.one.UploadServlet</web:servlet-class>
  </web:servlet>
  <web:servlet>
    <web:servlet-name>UploadFileServletTwo</web:servlet-name>
    <web:servlet-class>com.requirement.two.UploadServlet</web:servlet-class>
  </web:servlet>
  <web:servlet>
    <web:servlet-name>ProgressServletTwo</web:servlet-name>
    <web:servlet-class>com.requirement.two.ProgressServlet</web:servlet-class>
  </web:servlet>
  <web:servlet>
    <web:servlet-name>UploadFileServletFour</web:servlet-name>
    <web:servlet-class>com.requirement.four.UploadServlet</web:servlet-class>
  </web:servlet>
  <web:servlet>
    <web:servlet-name>ProgressServletFour</web:servlet-name>
    <web:servlet-class>com.requirement.four.ProgressServlet</web:servlet-class>
  </web:servlet>
  <web:servlet-mapping>
    <web:servlet-name>UploadFileServletOne</web:servlet-name>
    <web:url-pattern>/UploadServletOne</web:url-pattern>
  </web:servlet-mapping>
  <web:servlet-mapping>
    <web:servlet-name>UploadFileServletTwo</web:servlet-name>
    <web:url-pattern>/UploadServletTwo</web:url-pattern>
  </web:servlet-mapping>
  <web:servlet-mapping>
    <web:servlet-name>ProgressServletTwo</web:servlet-name>
    <web:url-pattern>/ProgressServletTwo</web:url-pattern>
  </web:servlet-mapping>
  <web:servlet-mapping>
    <web:servlet-name>UploadFileServletFour</web:servlet-name>
    <web:url-pattern>/UploadServletFour</web:url-pattern>
  </web:servlet-mapping>
  <web:servlet-mapping>
    <web:servlet-name>ProgressServletFour</web:servlet-name>
    <web:url-pattern>/ProgressServletFour</web:url-pattern>
  </web:servlet-mapping>
  <web:welcome-file-list>
    <web:welcome-file>/POC_-_UploadFile/requirement-01/noProgressSync.html</web:welcome-file>
  </web:welcome-file-list>
</web:web-app>